COMPANY_NAME=AdvantaCode
CSS_PREFIX=""
PRIMARY_COLOR="amber-500"
SECONDARY_COLOR="zinc-700"
NEUTRAL_COLOR="zinc-700"
ACCENT_COLOR="amber-400"
INFO_COLOR="sky-500"
SUCCESS_COLOR="green-500"
WARNING_COLOR="yellow-500"
DANGER_COLOR="red-500"
